# Ignore system clutter
*.swp
*.swo
*.swn
*.bak
*~
.nix-profile/
.result*
.cache/
__pycache__/
.terraform/
node_modules/
ssh/config
*.local

# Ignore downloaded tool archives and unpacked directories
*.tar.gz
*.zip
*.deb
ansible/fd-*/
ansible/fzf-*/
ansible/tmux-*/
ansible/nvim-*/
ansible/ghostty-*/

